
        h2{
            color: green;
            background-color: lightblue;
        }
        h4{
            color: grey;
            background-color: yellow;
        }
        /* p{
            color: red;
        } */
         .sec1{
            color: purple;
         }